// Color Variable
// ==============================
$cn-color-yanhong:                          #CC3536; // 艳红
$cn-color-xinghong:                         #C43739; // 猩红
$cn-color-jiangzi:                          #704D4E; // 绛紫
$cn-color-yinzhu:                           #DD3B44; // 银朱
$cn-color-qianxieya:                        #EACDD1; // 浅血牙
$cn-color-yuejihong:                        #BB1C33; // 月季红
$cn-color-meiguihong:                       #973444; // 玫瑰花
$cn-color-zaohong:                          #89303F; // 枣红
$cn-color-yanghong:                         #DC143C; // 洋红
$cn-color-zifen:                            #A54358; // 紫粉
$cn-color-qiepizi:                          #674950; // 茄皮紫
$cn-color-shenyanhong:                      #643441; // 深胭红
$cn-color-xuezi:                            #79485A; // 雪紫
$cn-color-meiguihui:                        #793D56; // 玫瑰灰
$cn-color-yangcongzi:                       #9C6680; // 洋葱紫
$cn-color-yuanqing:                         #3E3C3D; // 元青
$cn-color-pinhong:                          #A71368; // 品红
$cn-color-ziweihua:                         #EEA5D1; // 紫薇红
$cn-color-qianniuzi:                        #A22076; // 牵牛紫
$cn-color-zishuijing:                       #C3A6CB; // 紫水晶
$cn-color-qianshiyingzi:                    #AB96C5; // 浅石英紫
$cn-color-baifanghuilan:                    #4E1892; // 柏坊灰蓝
$cn-color-zitenghui:                        #857E95; // 紫藤灰
$cn-color-qiantengzi:                       #C4C3CB; // 浅藤紫
$cn-color-baolan:                           #1F3696; // 宝蓝
$cn-color-dianlan:                          #1B54F2; // 靛蓝
$cn-color-zanglan:                          #25386B; // 藏蓝
$cn-color-cujingzao:                        #43454A; // 粗晶皂
$cn-color-kongquelan:                       #0041A5; // 孔雀蓝
$cn-color-qianhaichanglan:                  #3C5E91; // 浅海昌蓝
$cn-color-huaqing:                          #546B83; // 花青
$cn-color-quehui:                           #455667; // 鹊灰
$cn-color-hailan:                           #17507D; // 海蓝
$cn-color-dailan:                           #304758; // 黛蓝
$cn-color-shenzhuyue:                       #2578B5; // 深竹月
$cn-color-ronglan:                          #31678D; // 绒蓝
$cn-color-beijingmaolan:                    #276893; // 北京毛蓝
$cn-color-shaqing:                          #2B5E7D; // 沙青
$cn-color-gulan:                            #6493AF; // 钴蓝
$cn-color-tiehui:                           #37444B; // 铁灰
$cn-color-hongzao:                          #4F5355; // 红皂
$cn-color-zhenghui:                         #93A2A9; // 正灰
$cn-color-yushilan:                         #507883; // 玉石蓝
$cn-color-tianqing:                         #2EC3E7; // 天青
$cn-color-huilan:                           #5D828A; // 灰蓝
$cn-color-chunlan:                          #7BA1A8; // 春蓝
$cn-color-zhijinhui:                        #748A8D; // 织锦灰
$cn-color-biyushi:                          #569597; // 碧玉石
$cn-color-shalv:                            #005B5A; // 沙绿
$cn-color-huilv:                            #5C8987; // 灰绿
$cn-color-cuilv:                            #006E5F; // 翠绿
$cn-color-kaqilv:                           #647370; // 卡其绿
$cn-color-guohui:                           #88AEA3; // 果灰
$cn-color-yingwulv:                         #008E59; // 鹦鹉绿
$cn-color-yadanqing:                        #D1E3DB; // 鸭蛋青
$cn-color-sanlv:                            #90CAAF; // 三绿
$cn-color-chengdezao:                       #5A5C5B; // 承德皂
$cn-color-laolv:                            #3D6E53; // 老绿
$cn-color-nailv:                            #AFC8BA; // 奶绿
$cn-color-danhuilv:                         #AEC4B7; // 淡灰绿
$cn-color-shuidiaohui:                      #949C97; // 水貂灰
$cn-color-youlv:                            #45554A; // 油绿
$cn-color-xiulv:                            #B8C8B7; // 绣绿
$cn-color-shuihuang:                        #BED2B6; // 水黄
$cn-color-yinbo:                            #585A57; // 银箔
$cn-color-canglv:                           #4E5F45; // 苍绿
$cn-color-huanghui:                         #B0B7AC; // 黄灰
$cn-color-chunlv:                           #E3EFD1; // 春绿
$cn-color-junlv:                            #CAD4BA; // 军绿
$cn-color-dachijin:                         #6D7358; // 大赤金
$cn-color-luhui:                            #A9B08F; // 芦灰
$cn-color-mise:                             #F5F5DC; // 米色
$cn-color-youyanmo:                         #3F3F3C; // 油烟墨
$cn-color-chengdehui:                       #757570; // 承德灰
$cn-color-ganlanlv:                         #6A6834; // 橄榄绿
$cn-color-kulv:                             #B7B278; // 枯绿
$cn-color-ningmenghuang:                    #E9DB39; // 柠檬黄
$cn-color-labai:                            #E7E5D0; // 蜡白
$cn-color-caohuang:                         #DBCE54; // 草黄
$cn-color-huimi:                            #B6B196; // 灰米
$cn-color-tenghuang:                        #F2DE76; // 藤黄
$cn-color-hufen:                            #EBE8DB; // 胡粉
$cn-color-dandongshi:                       #D7C16B; // 丹东石
$cn-color-kujin:                            #85794F; // 库金
$cn-color-gancaohuang:                      #E4CF8E; // 甘草黄
$cn-color-dengcaohui:                       #363532; // 灯草灰
$cn-color-mihui:                            #C5BFAD; // 米灰
$cn-color-jianghuang:                       #B49436; // 姜黄
$cn-color-xuanjin:                          #796F54; // 选金
$cn-color-qianzonghui:                      #E1DBCD; // 浅棕灰
$cn-color-jiangxiaoni:                      #6D614A; // 将校呢
$cn-color-kaqihuang:                        #D5B884; // 卡其黄
$cn-color-xiangsihui:                       #625C52; // 相思灰
$cn-color-zhihuang:                         #DBC7A6; // 枝黄
$cn-color-zhongzonghui:                     #A9987C; // 中棕灰
$cn-color-tuhuang:                          #CE9335; // 土黄
$cn-color-qiantuose:                        #C9AE8C; // 浅驼色
$cn-color-zongcha:                          #B8844F; // 棕茶
$cn-color-xionghuang:                       #D0853D; // 雄黄
$cn-color-zhizong:                          #BCA590; // 纸棕
$cn-color-qianjiehuang:                     #DA9558; // 浅橘黄
$cn-color-qianhuangzong:                    #DEA87A; // 浅黄棕
$cn-color-jinhuang:                         #C77A3A; // 金黄
$cn-color-mihong:                           #E1BDA2; // 米红
$cn-color-jiehuang:                         #E8853B; // 桔黄
$cn-color-canghuang:                        #C65306; // 苍黄
$cn-color-xiongjingxj:                      #E47542; // 雄精
$cn-color-ganshifen:                        #EADCD6; // 甘石粉
$cn-color-zhangdan:                         #EB652D; // 章丹
$cn-color-jiehong:                          #E7693F; // 桔红
$cn-color-naizong:                          #C1A299; // 奶棕
$cn-color-xiehong:                          #A03E28; // 血红
$cn-color-chensha:                          #AF5E53; // 辰沙
$cn-color-shiyangjin:                       #FCB1AA; // 十样锦
$cn-color-fanqiehong:                       #C4473D; // 番茄红
$cn-color-liuhuahong:                       #D54B44; // 榴花红
$cn-color-yanzhi:                           #C03F3C; // 胭脂
$cn-color-feihong:                          #C35655; // 妃红
$cn-color-xiuhong:                          #4D1919; // 绣红
$cn-color-shenyan:                          #5A4C4C; // 深烟
$cn-color-xuese:                            #FFFAFA; // 雪色
$cn-color-baicaoshuang:                     #303030; // 百草霜
